<section class="about-us">
    
    <picture>
            <source
              srcset="
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
              "
              media="(min-width: 768px)"
            />
            <source
              srcset = "
              "
              media="(max-width: 767px)"
            />
            <img
              class="ab-us-picture"
              src=""
              alt=""
              loading="lazy"
            />
          </picture>
   
    <div class="content-ab-wrap">
        <svg class="logo-ab-us">
                      <use href="../img/icons.svg#icon-logo"></use></svg>
        <h2 class="ab-us-title">About ArtistsHub</h2>
        <p class="ab-us-text">
            At ArtistsHub, our mission is to connect music lovers with the artists they adore. 
            We strive to create a vibrant community where discovering new music is as enjoyable as listening to it.
        </p>
    </div>
</section>
