<section class="about-us" id="About-us">
  
  <div class="container ab-us-cont"> 
      <picture>
    <!-- WebP format-->
    <source
      srcset="
        /img/About-Us/about-us-desk.webp 1x,
        /img/About-Us/about-us-desk-2x.webp 2x
      "
      media="(min-width: 1200px)"
      type="image/webp"
    />
    <source
      srcset="
        /img/About-Us/about-us-tab.webp 1x,
        /img/About-Us/about-us-tab-2x.webp 2x
      "
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="
        /img/About-Us/about-us-mob.webp 1x,
        /img/About-Us/about-us-mob-2x.webp 2x
      "
      media="(max-width: 767px)"
      type="image/webp"
    />
  
    <!-- PNG format-->
    <source
      srcset="
        /img/About-Us/about-us-desk.png 1x,
        /img/About-Us/about-us-desk-2x.png 2x
      "
      media="(min-width: 1200px)"
      type="image/png"
    />
    <source
      srcset="
        /img/About-Us/about-us-tab.png 1x,
        /img/About-Us/about-us-tab-2x.png 2x
      "
      media="(min-width: 768px)"
      type="image/png"
    />
    <source
      srcset="
        /img/About-Us/about-us-mob.png 1x,
        /img/About-Us/about-us-mob-2x.png 2x
      "
      media="(max-width: 767px)"
      type="image/png"
    />
  
    <img
      class="ab-us-picture"
      src="/img/About-Us/about-us-mob.png"
      alt="Team"
      loading="lazy"
    />
  </picture>
  
  
      <div class="content-ab-wrap">
          <svg class="logo-ab-us">
                        <use href="/img/icons.svg#icon-logo"></use>
          </svg>
  
          <h2 class="ab-us-title">About ArtistsHub</h2>
          <p class="ab-us-text">
              At ArtistsHub, our mission is to connect music lovers with the artists they adore.
              We strive to create a vibrant community where discovering new music is as enjoyable as listening to it.
          </p>
      </div>
  </div>
</section>

