
<footer class="footer">
    <div class="footer__container">
    <div class="footer__top">
        <!-- ЛОГОТИП -->
        <a href="/" class="footer__logo">
            <!-- Лого для мобилки -->
            <svg class="logo-footer logo-footer--mobile" width="30" height="30">
                <use href="../img/icons.svg#icon-logo"></use>
            </svg>
        
            <!-- Лого для планшета/ПК -->
            <svg class="logo-footer logo-footer--desktop" width="106" height="30">
                <use href="../img/icons.svg#icon-company-logo"></use>
            </svg>
        
            <span class="span_logo">Artists</span>
        </a>
        

        <!-- НАВІГАЦІЯ -->
        <nav class="footer__nav">
            <ul class="art-list">
                <li><a href="#artists" class="footer__link">Artists</a></li>
                <li><a href="#aboutus" class="footer__link">About us</a></li>
                <li><a href="#reviews" class="footer__link">Reviews</a></li>
            
            </ul>
        </nav>
    </div>

    <!-- НИЖНІЙ РЯД -->
    <div class="footer__bottom">
       

        <div class="footer__socials">
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                
                <svg class="social-icn" width="40px" height="40px">
                  <use href="../img/icons.svg#icon-Instagram"></use>
                </svg>
            </a>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                
                <svg class="social-icn" width="40px" height="40px">
                    <use href="../img/icons.svg#icon-Facebook"></use>
                </svg>
            </a>
            <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
               
                <svg class="social-icn" width="40px" height="40px">
                    <use href="../img/icons.svg#icon-Youtube"></use>
                </svg>
            </a>
        </div>
        <p class="footer__copy">© 2025 ArtistsHub. All rights reserved.</p>
    </div>
    </div>
</footer>