<section class="hero" id="hero">
  <div class="container hero-cont">
    <div class="hero-content">
      <h1 class="hero-header">Discover Your Next Favorite Artist Today</h1>
      <div class="hero-text-cont">
        <p class="hero-text">
          Dive into a world of music discoveries with ArtistsHub – your personal
          guide to the boundless universe of sound. Explore, filter, and learn
          about your favorite artists all in one place.
        </p>
        <div class="link-hero">
          <a href="#Artists" class="hero-btn"
            >Explore Artists
            <svg class="icon-hero" width="15" height="21">
              <use href="/img/icons.svg#icon-play-btn"></use></svg>
        </a>
        </div>
      </div>
    </div>
    <div class="backgr-hero"></div>
  </div>
</section>
