<section class="hero" id="hero">
  <div class="container hero-cont">
    <div class="hero-content">
      <h1 class="hero-header">Discover Your Next Favorite Artist Today</h1>
      <div class="hero-text-cont">
        <p class="hero-text">
          Dive into a world of music discoveries with ArtistsHub – your personal
          guide to the boundless universe of sound. Explore, filter, and learn
          about your favorite artists all in one place.
        </p>
        <div class="link-hero">
          <a href="" class="hero-btn"
            >Explore Artists
            <svg class="icon-hero" width="18" height="18">
              <use href="/img/icons.svg#icon-play-btn"></use></svg
          ></a>
        </div>
      </div>
    </div>
    <picture>
      <source
        srcset="/img/webp/ 1x, /img/webp/ 2x"
        media="(max-width: 765px)"
      />
      <source
        srcset="/img/webp/ 1x, /img/webp/ 2x"
        media="(min-width: 1336px)"
      />
      <source
        srcset="/img/webp/ 1x, /img/webp/ 2x"
        media="(min-width: 766px)"
      />

      <img
        src="/img/webp/hero_mob.webp"
        alt="Placeholder Image"
        loading="lazy"
      />
    </picture>
  </div>
</section>
