<div class="backdrop is-hidden" data-modal-feedback>
  <div class="modal">
    <button type="button" class="modal-close" data-modal-feedback-close>
      <svg class="icon" width="32" height="32">
        <use href="/img/icons.svg#icon-x-feedback"></use>
      </svg>
    </button>
    <h2 class="modal-title">Submit feedback</h2>
    <form class="feedback-form">
      <label>
        Name <input type="text" name="name" placeholder="Emily" required />
      </label>
      <label>
        Message
        <textarea
          name="message"
          placeholder="Type your message..."
          required
        ></textarea>
      </label>
      <div class="rating-feedback-modal">
        <svg class="star" width="31" height="29">
          <use href="/img/icons.svg#icon-vec-feedback"></use>
        </svg>
        <svg class="star" width="31" height="29">
          <use href="/img/icons.svg#icon-vec-feedback"></use>
        </svg>
        <svg class="star" width="31" height="29">
          <use href="/img/icons.svg#icon-vec-feedback"></use>
        </svg>
        <svg class="star" width="31" height="29">
          <use href="/img/icons.svg#icon-vec-feedback"></use>
        </svg>
        <svg class="star" width="31" height="29">
          <use href="/img/icons.svg#icon-vec-feedback"></use>
        </svg>
      </div>
      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>
</div>
