.feedback-section {
    background-color: var(--color-scheme-1-background);
    padding: 64px 16px;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.review {
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
    margin-bottom: 32px;
}

.review-author-name {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    margin-bottom: 16px !important;
}

.rating .star-container {
    display: inline-flex;
    gap: 4px;
}

.rating.star-svg svg {
    width: 100%;
    height: 100%;
    display: block;
}

.feedback-card .rating {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.rating.star-svg .star {
    width: 20px;
    height: 20px;
    display: block;
}

.rating.star-svg .star.filled use {
    fill: #764191;
}

.rating.star-svg .star.empty use {
    fill: var(--color-scheme-1-text);
    stroke: none;
    opacity: 1;
}

.swiper {
    display: flex;
    justify-content: center;
    height: 253px;
}

.swiper .swiper-wrapper {
    display: flex !important;
    margin: 0 auto;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 9px;
    background-color: #383539;
    opacity: 1;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
}

@media only screen and (max-width: 768px) {
    .hidden-on-mobile {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

@media only screen and (min-width: 768px) {
    .swiper {
        /* width: 704px; */
        height: 297px;
    }

    .swiper .swiper-wrapper .swiper-slide {
        align-self: center;
        width: 100%;
        max-width: 866px;
        margin: 0 auto;
    }

    .swiper .swiper-button-prev, .swiper .swiper-button-next {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        padding: 12px;
        width: 48px;
        height: 48px;
    }

    .review {
        font-size: 26px;
    }
}

@media only screen and (min-width: 1200px) {
    .swiper {
        /* width: 1312px; */
        height: 397px;
    }
}