.star {
    height: 19px;
    width: 21px
}

.my-star-filled {
    fill: #764191;
}

.my-star-empty {
    fill: #FFFFFF;
}

.stars-container {
    display: flex;
    gap: 4px;
}

.swiper {
    width: 288px;
    height: 253px;
}

@media only screen and (min-width: 768px) {
    .swiper {
        width: 704px;
        height: 297px;
    }
}

@media only screen and (min-width: 1200px) {
    .swiper {
        width: 1312px;
        height: 397px;
    }
}